.dropdown-menu li, .dropdown-toggle {
    cursor: pointer;
}

img {
    margin-top: 2px;
    margin-left: 5px;
    max-height: 45px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

img:focus {
    outline: 0;
}
